@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700&display=swap');

/* everyone will download roboto when they visit  your website. */

/* GENERAL MATTERS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.theme__color {
    color: rgb(56, 137, 57);
}

html {
    scroll-behavior: smooth;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

.click-size {
    transition: all 300ms ease;
    cursor: pointer;
}

.click-size:hover {
    transform: scale(1.1);
}

.click-size:active {
    transform: scale(0.7);
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
}

.row {
    width: 100% !important;
    max-width: 1100px !important;
    margin: 0 auto;
    padding: 0 72px;
}

li {
    list-style: none;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 1px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 450ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover,
textarea:hover {
    border-color: #dcdfe6;
}

input:focus,
textarea:focus {
    border-color: #f06449;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    width: 0%;
    bottom: -3px;
    height: 3px;
    right: 0;
    background-color: black;
    transition: all 300ms ease;
}

.link__hover-effect--black:after {
    background-color: black;
}

.link__hover-effect--white:after {
    background-color: white;
}

.link__hover-effect:hover:after {
    left: 0;
    width: 100%;
}

.bolder__words {
    font-weight: 900;
}

.smaller__image80 {
   transform: scale(0.8);
}

.smaller__image90 {
    transform: scale(0.9);
}

.padding__adjust--top {
    padding-bottom: 8px;
}

.HTML__orange {
    color:rgb(173, 81, 11)
}

.CSS__blue {
    color:rgb(58, 58, 176)
}

.JS__yellow {
    color:#d5c000
}

.react__lightblue {
    color: rgb(6, 92, 120)
}

.java__darkred {
    color:rgb(141, 20, 32)
}

.java__darkblue {
    color:rgb(6, 92, 120)
}


.python__lightyellow {
    color: #d5c000
}

.python__lightblue {
    color: rgb(6, 92, 120)
}

.vim__green {
    color: rgb(6, 103, 6);
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    padding: 0 20px;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    list-style: none;
    margin: 0 12px;
}

.nav__link--anchor {
    text-decoration: none;
    font-size: 16px;
    color: black;
    font-weight: 700;
}

.fa-circle-half-stroke {
    font-size: 20px;
}

/*  landing page and header */

.landing__figure {
    height: 70px;
    width: 70px;
}

.landing__image--logo {
    width: 100%;
}

#landing-page {
    height: 100vh;
}

section {
    background-color: rgb(245, 245, 245);
}
header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 100%;
    max-width: 1000px; 
    padding: 0 30px;
}

.title {
    font-size: 102px;
    margin-bottom: 12px;
    line-height: 1;
    text-align: left;
}

.header__title--secondary {
    color: rgb(56, 137, 57);
}

.header__para {
    padding-top: 12px;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    max-width: 550px;
}

.social__list {
    margin-top: 16px;
    display: flex;
    /* this makes the icons side by side */
}

.header__para--link {
    text-decoration: none;
    padding: 6px;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    background-color: rgb(56, 137, 57);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
}

.mail__btn {
    width: 70px;
    height: 70px;
    border-radius: 9999px;
    border: none;
    color: white;
    font-size: 32px;
    background-color: rgb(56, 137, 57);
    position: absolute;
    bottom: 40px;
    right: 40px;
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    color:rgb(56, 137, 57);
    border: 3px solid rgb(56, 137, 57);
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: rgb(56, 137, 57);
    border-radius: 9999px;
    animation: scroll_anim 1000ms infinite alternate-reverse;
}

@keyframes scroll_anim {
    0% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(4px);
    }
}

/* modal section */

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 1100px;
    height: 700px;
    box-shadow: 0 20px 60px 0 rgba(0,0,0,0.55);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
}

.modal__half {
    width: 50%;
    padding: 40px 54px;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.modal__aboutme {
    background-color: rgb(245, 245, 245);
    display: flex;
}

.modal__contact {
    background-color: #242424;
    color: white;
}

.modal__languages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.modal__languages--figure {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 24px;
}

.modal__language--image {
    width: 70%;
    transition: all 300ms ease;
}

.modal__languages--figure:hover .modal__language--image {
    filter: brightness(80%);
    opacity: 0.85;
    transform: scale(70%);
}

.modal__languages--figure:hover .language__name {
    transform: scale(1);
    opacity: 1;
}

.padding__adjust {
    padding-left: 4px;
}

.language__name {
    position: absolute;
    bottom: -10px;
    transform: scale(0);
    transition: all 300ms ease;
    font-size: 16px;
    font-weight: 600;
    opacity: 0;
    font-family: 'Lato', 'Roboto', sans-serif;
}

.padding__adjust--10 {
    bottom: 0px;
}

.language__text--padding {
    padding-right: 16px;
}

.language__text--paddinglarge {
    padding-right: 30px;
}


.modal__title {
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
}

.modal__subtitle {
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
    font-weight: 900;
}

.modal__contact--subtitle {
    font-size: 14px;
}

.modal__aboutme--writeup {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 36px;
    text-align: center;
}


.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 200px;
    padding: 12px 24px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
    z-index: -1;
}

.modal__overlay--success {
    background-color: #4bb543;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 40px;
}

.fa-spinner {
    animation: spinner-anim 750ms infinite linear;
}

@keyframes spinner-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* projects section */

.section__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 60px;
}

.project {
    padding: 56px 0;
}

.project__image {
    width: 100%;
    height: 100%;
    display:  block;
    transition: all 450ms ease;
}

.project__wrapper {
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 5px 5px 80px;
}

.project__wrapper {
    position: relative;
}

.project__wrapper:hover .project__description {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.project__wrapper:hover .project__wrapper--bg {
    opacity: 0.7;
}

.project__wrapper:hover .project__image {
    transform: scale(1.10);
    filter: blur(5px);
}

.project__description {
    position: absolute;
    color:  white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 90%);
    max-width: 650px;
    opacity: 0;
    transition: opacity 450ms, transform 300ms ease;
}

.project__wrapper--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 450ms ease;
}

.project__description--title {
    font-size: 32px;
    padding-bottom: 4px;
}

.project__description--para {
    padding: 12px 0;
}

.project__description--link {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-right: 12px;
}

.project__img--needbg {
    background: url(backdrop.webp);
    transform: scale(1.03);
}

/* footer */

footer {
    background-color: #242424;
    display: flex;
    justify-content: center;
    padding: 4% 0px;
    max-width: 1100px;
    width: 100%;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__figure {
    width: 90px;
}

.footer__image {
    width: 100%;
}

.footer__social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 16px 0px;
}

.footer__social--link,
.footer__copyright {
    color: white;
    text-decoration: none;
}


